extends layout.pug

block style
    style.
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
            text-align: center;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }


block content
    .container
        form.form-signin(method='post', action='/signin', data-ajax)
            h1.h3.mb-3.font-weight-normal Connectez-vous

            .ajax-msg

            label.sr-only() Nom d'utilisateur
            input#inputEmail.form-control(type='text', placeholder="Nom d'utilisateur", name='username', required='')

            label.sr-only(for='inputPassword') Mot de passe
            input#inputPassword.form-control(type='password', placeholder='Mot de passe', name='password', required='')

            button.btn.btn-block.btn-link(type='button', data-target='#lostPassword', data-toggle='modal')
                em
                    small J'ai oublié mon mot de passe

            button.btn.btn-lg.btn-primary.btn-block(type='submit') Se connecter
            button.btn.btn-success.btn-block.btn-lg(data-target='#signup', type='button', data-toggle='modal') Je veux m'inscrire


    .modal.fade#lostPassword(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title J'ai perdu mon mot de passe
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                form(method='post', action='/account/lost-password', data-ajax)
                    .modal-body

                        .ajax-msg
                            .alert.alert-info
                                em Un email de rénitialisation va vous être envoyé pour vous permettre de changer votre mot de passe.

                        .form-group
                            label Email
                            input.form-control(type='email', placeholder="L'email de votre compte", name='email')

                    .modal-footer
                        button.btn.btn-primary(type='submit') Envoyer le mail

    .modal.fade#signup(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title S'inscire
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                form(method='post', action='/signup', data-ajax)
                    .modal-body

                        .ajax-msg

                        .form-group
                            label Prénom
                            input.form-control(type='text', name='name')
                        .form-group
                            label Nom
                            input.form-control(type='text', name='last_name')
                        .form-group
                            label Nom d'utilisateur
                            input.form-control(type='text', name='username')
                            small.form-text.text-muted Votre pseudo est affiché aux autres utilisateurs
                        .form-group
                            label Email
                            input.form-control(type='email', name='email')
                            small.form-text.text-muted Votre email restera confidentiel
                        .form-group
                            label Mot de passe
                            input.form-control(type='password', name='password')
                            small.form-text.text-muted Votre mot de passe doit être sécurisé
                        .form-group
                            label Confirmation du mot de passe
                            input.form-control(type='password', name='password_confirmation')

                    .modal-footer
                        button.btn.btn-primary(type='submit') S'inscire
