extends ../layout

block content
    .jumbotron.jumbotron-fluid
        .container
            h1.display-4 #{user.username}
            p.lead
                | Vous êtes inscris #{moment(user.created_at).fromNow()}
    .container
        .row
            .col-md-6
                .card
                    .card-body
                        h4 Modifier mes informations principales
                        hr

                        form(data-ajax, method='post', action='/account')
                            .form-group
                                label Nom d'utilisateur
                                input.form-control(type='text', value=user.username, name='username')
                                small.form-text.text-muted Votre pseudo est affiché aux autres utilisateurs
                            .form-group
                                label Email
                                input.form-control(type='email', value=user.email, name='email')
                                small.form-text.text-muted Votre email restera confidentiel

                            button.btn.btn-primary(type='submit')
                                i.fa.fa-save
                                | &nbsp;Sauvegarder


            .col-md-6
                .card
                    .card-body
                        h4 Modifier mon mot de passe
                        hr

                        form(data-ajax, method='post', action='/account/password')
                            .form-group
                                label Mot de passe
                                input.form-control(type='password', name='password')
                                small.form-text.text-muted Votre mot de passe doit être sécurisé
                            .form-group
                                label Confirmation du mot de passe
                                input.form-control(type='password', name='password_confirmation')

                            button.btn.btn-primary(type='submit')
                                i.fa.fa-save
                                | &nbsp;Sauvegarder
