body {
    margin: 0;
    background-color: #FBFCFA;
    font-family: 'Roboto';
}

nav {
    background-color: #2c3e50;
    padding: 20px 50px;
    margin-bottom: 20px;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav li a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #ecf0f1;
    text-transform: uppercase;
}

nav li.right {
    float: right;
}

footer {
    margin-top: 20px;
    color: #ecf0f1;
    background-color: #2c3e50;
    padding: 5px 50px;
    text-align: right;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.block {
    width: 24.7%;
    display: inline-block;
    background-color: #bdc3c7;
    padding: 15px 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #ffffff;
    text-align: center;
}

@media (max-width: 768px) {
    .block {
        width: 100%;
    }
}

.block i {
    font-size: 50px;
    display: block;
    margin-bottom: 10px;
}

.block span {
    font-size: 30px;
    display: block;
}

.block.colored.red {
    background-color: #c0392b;
}
.block.colored.green {
    background: #27ae60;
}
.block.colored.blue {
    background: #2980b9;
}
.block.colored.yellow {
    background: #f39c12;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table {
    border-collapse: collapse !important;
}
.table td,
.table th {
    background-color: #fff !important;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd !important;
}
table {
    background-color: transparent;
}
th {
    text-align: left;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table > tbody + tbody {
    border-top: 2px solid #ddd;
}
.table .table {
    background-color: #fff;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

.button.button-danger {
    color: #ffffff;
    border-color: #c0392b;
    background-color: #e74c3c;
}

.button.button-info {
    color: #ffffff;
    border-color: #2980b9;
    background-color: #3498db;
}

.button.button-success {
    color: #ffffff;
    border-color: #27ae60;
    background-color: #2ecc71;
}

div.input-group {
    display: block;
    margin: 5px;
}

input, textarea, select {
    display: inline-block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input {
    height: 20px;
}

input[type='checkbox'] {
    display: inline-block;
    width: 20px;
}

input:focus, textarea:focus, select:focus {
    outline: 0;
}
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

div.alert {
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.alert.alert-error {
    background-color: #e74c3c;
    color: #ffffff;
    border: solid #c0392b 1px;
}